<h1>Sign in</h1>

<br><br>
<%= form_for(@user, url: sign_in_path) do |f| %>
  email: <%= f.text_field :email %>
  password: <%= f.password_field :password %>
  <%= f.submit "Sign In" %>
<% end %>
<br><br><br><br><br>
<h3>Not a member?</h3>
