
<% @game.statuses.each do |status| %>

  <div class="well">
    <p><strong><%= status.condition %></strong></p>

    <p><strong><%= status.completion %>%</strong>
      <%= button_to "x", game_status_path(@game.statuses, status), :method => "delete", :class => "destroy" %>
      <%= link_to "edit", edit_game_status_path(@game), :class => 'btn btn-default'%>

  </div>
<% end %>
